extends base

append js

  script(type="text/javascript" src="/thirdparty/snap.svg/dist/snap.svg.js")
  script(type="text/javascript" 
         src="/thirdparty/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
  script(type="text/javascript" src="/angular-slider/slider.js")

  != js('Anchor')
  != js('FeynmanCanvas')
  != js('Line')

  != js('UndoEntry')
  != js('undo')
  != js('app')
  

append css
  link(href="/thirdparty/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet")
  link(href="/angular-slider/slider.css" rel="stylesheet")

block content
  body(ng-app="feynman")
    h1 {{title}}! 

    #mainContent
      svg#canvas
      
      #footer
        | click on element to select (drag on canvas to select many)
        br
        | alt + drag on the canvas to create an element
        br
        | alt + drag from an element to create new branch 
        br
        | drag selected element to move it
        br 
        | space + drag to pan the canvas
        br
        | scroll wheel to zoom
      // alt dragging moving the window instead: 
      // gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier "<Super>"
      

    span#sidebar(ng-controller="diagramProperties")
      
      #diagramProperties
        table.propertiesMenu(ng-show="showDiagramProperties == true")
          thead
            tr.headerRow
              th(colspan=2)
                | Properties for diagram
          tbody
            tr.property
              td.label
                | Title:
              td.value
                input(type="text" ng-model="$parent.title" name="label")
            tr.property
              td.label
                | Grid Size:
              td.value
                // span(ng-show="gridSize > 0")
                // | {{gridSize}}
                // span(ng-show="gridSize == 0")
                // | none
                slider(floor="0" ceiling="100" step="10" precision="0"  ng-model="gridSize" 
                       style="width: 70%")

      // WARNING: this id can't change without reflecting it in the javascript
      #undoHistory(ng-controller="undoCtrl" current="{{current}}" style="margin-top: 10px")
        table(width="100%")
          thead
            tr.headerRow.historyTitle
              th(colspan=2 ng-init="showHistory = false")
                | History
                span(ng-show="showHistory == true" ng-click="showHistory = false" 
                     style="float: right; cursor: pointer;")
                  | hide history
                span(ng-show="showHistory == false" ng-click="showHistory = true" 
                     style="float: right; cursor: pointer;")
                  | show history
          tbody
            tr.historyItem(ng-repeat="event in queue | reverse" ng-click="goTo(event.id)"
                           ng-class="{current : event.id == current, disabled: event.id > current}"
                           ng-show="showHistory == true")
              td.id
                | {{event.id}}: 
              td.title
                | {{event.title}}
  
      #groupProperties(ng-hide="selectedGroup == false" ng-init="selectedGroup = false" 
                       style="margin-top: 10px")
        // anchor properties menu
        table.propertiesMenu(ng-show="type == 'anchor'")
          thead
            tr.headerRow
              th(colspan=2)
                | Properties for selected group of anchors
          tbody
            tr.property
              td.label
                | fill color:
              td.value
                input(colorpicker="rgb" type="text" ng-model="groupColor" name="color"
                      style="background: {{displayColor}}; color: {{displayColor}}; \
                             border: 1px solid {{groupColor}}; color: {{displayColor}};")
            tr.property
              td.label
                | radius: 
              td.value
                span(ng-show="groupRadius > 0")
                  | {{groupRadius}}
                slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="groupRadius" 
                       style="width: 70%")
            tr.groupTools(ng-show="selectedGroup != false")
              td.tool(colspan=2)
                span.label
                  | align:
                span.button(ng-click="alignGroup('vertical')")
                  | vertical
                span.button(ng-click="alignGroup('horizontal')")
                  | horizontal
  
      span(ng-hide="selectedElement == false")
        // anchor properties menu
        table.propertiesMenu(ng-show="type == 'anchor'" style="margin-top: 10px")
          thead
            tr.headerRow
              th(colspan=2)
                | Properties for selected anchor
          tbody
            tr.property
              td.label
                | fill color:
              td.value
                input(colorpicker="rgb" type="text" ng-model="color" name="color"
                  style="background: {{color}}; color: {{color}}; border: 1px solid {{color}};")
            tr.property
              td.label
                | radius: 
              td.value
                | {{radius}}
                slider(floor="1.0" ceiling="10" step="1" precision="1"  ng-model="radius" 
                       style="width: 70%")
            tr.property
              td.label
                | fixed:
              td.value
                input(type="checkbox" ng-model="selectedElement.fixed")
            tr
              td.tool(colspan=2)
                span.button(ng-click="deleteSelectedElement('anchor')")
                  | delete this anchor
    
  
        // line properties menu
        table.propertiesMenu(ng-show="type == 'line'" style="margin-top: 10px")
          thead
            tr.headerRow
              th(colspan=2)
                | Properties for 
                img(src="http://latex.codecogs.com/svg.latex?{{selectedElement.label}}", 
                    ng-show="selectedElement.label")
          tbody
            tr.property
              td.label
                | label:
              td.value
                input(type="text" ng-model="selectedElement.label" name="label")
            tr.property
              td.label
                | label position:
              td.value
                input(type="radio" ng-model="selectedElement.labelPosition" value="top")
                |  above
                br
                input(type="radio" ng-model="selectedElement.labelPosition" value="bottom")
                |  below
            tr.property
              td.label
                | label distance:
              td.value
                | {{labelDistance}}
                slider(floor="10" ceiling="50" step="2" precision="1" style="width: 70%"
                       ng-model="labelDistance" )
            tr.property
              td.label
                | label location:
              td.value
                | {{labelLocation}}
                slider(floor="0" ceiling="1" step=".1" precision="1" style="width: 70%"
                       ng-model="labelLocation" )
            tr.property
              td.label
                | color:
              td.value
                input(colorpicker="rgb" type="text" ng-model="color" name="color"
                  style="background: {{color}}; color: {{color}}; border: 1px solid {{color}};")
            tr.property
              td.label
                | stroke width:
              td.value
                | {{selectedElement.width}}
                slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="width" 
                       style="width: 70%")
            tr.property
              td.label
                | line style:
              td.value
                select(ng-model="selectedElement.style")
                  option(value = 'line')
                    | line
                  option(value = 'dashed')
                    | dashed
                  option(value = 'gluon')
                    | gluon
                  option(value = 'em')
                    | em
            tr.property(ng-show="selectedElement.style == 'line'")
              td.label
                | show arrow
              td.value
                input(type="checkbox" ng-model="selectedElement.drawArrow")
            tr(ng-show="selectedElement.style == 'line'")
              td.tool(colspan=2)
                span.button(ng-click="selectedElement.flipArrow = !selectedElement.flipArrow")
                  | flip arrow direction
            tr.property(ng-show="selectedElement.style == 'gluon'")
              td.label
                | draw end&nbsp;caps:
              td.value
                input(type="checkbox" ng-model="selectedElement.drawEndCaps")
            tr.property(ng-show="selectedElement.style == 'gluon' || selectedElement.style == 'em'")
              td.label(ng-show="selectedElement.style == 'gluon'")
                | loop direction:
              td.label(ng-show="selectedElement.style == 'em'")
                | amplitude direction:
              td.value
                input(type="radio" ng-model="selectedElement.loopDirection" value="1")
                | up
                br
                input(type="radio" ng-model="selectedElement.loopDirection" value="-1")
                | down
            tr
              td.tool(colspan=2)
                span.button(ng-click="deleteSelectedElement('line')")
                  | delete this line
