extends base

append js

  script(type="text/javascript" src="/thirdparty/snap.svg/dist/snap.svg.js")
  script(type="text/javascript" 
         src="/thirdparty/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
  script(type="text/javascript" src="/angular-slider/slider.js")

  != js('Anchor')
  != js('CircularConstraint')
  != js('FeynmanCanvas')
  != js('Line')
  != js('Text')

  != js('feynmanColorpicker')
  != js('UndoEntry')
  != js('undo')
  != js('app')
  

append css
  link(href="/thirdparty/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet")
  link(href="/angular-slider/slider.css" rel="stylesheet")

block content
  body(ng-app="feynman")

    #sidebar(ng-controller="sidebar")
      
      #diagramProperties
        .diagramProperty
          .label
            | title
          .value
            input(type="text" ng-model="$parent.title" name="label")

        .diagramProperty
          .label
            | grid 
            span.propertyValue(ng-hide="gridSize == 0")
              | {{gridSize}}
            span.propertyValue(ng-show="gridSize == 0")
              | none

          .value
            slider(floor="0" ceiling="100" step="10" precision="0"  ng-model="gridSize" )

        .diagramProperty
          span.button.disabled(ng-click="hideGrid = true" ng-show="hideGrid == false"
                               style="margin-right: 10px")
            | hide grid
          span.button.enabled(ng-click="hideGrid = false" ng-show="hideGrid == true"
                               style="margin-right: 10px")
            | show grid
          span.button.disabled(ng-click="hideAnchors = true" ng-show="hideAnchors == false")
            | hide anchors
          span.button.enabled(ng-click="hideAnchors = false" ng-show="hideAnchors == true")
            | show anchors

      
      // WARNING: this id can't change without reflecting it in the javascript
      #undoHistory(ng-controller="undoCtrl" current="{{current}}" )

        #historyTitle.panelTitle(ng-init="showHistory = false")
          | History
          span.hidePanel(ng-show="showHistory == true" ng-click="showHistory = false" )
            | hide
          span.showPanel(ng-show="showHistory == false" ng-click="showHistory = true" )
            | show

        #historyContent(ng-show="showHistory == true")
          .historyItem(ng-repeat="event in queue | reverse" ng-click="goTo(event.id)"
                       ng-class="{current : event.id == current, disabled: event.id > current}")
            span.id
              | {{event.id}} : 
            span.title
              | {{event.title}}
     
      #tooltip

        #palette(ng-show="selectedElement == false || selectedElement == undefined "
                 ng-hide="selectedGroup != false" )
          #paletteTitle
            | item palette
          #paletteBody
            | Drag and drop items to add them to a canvas
          table#paletteItems(cellspacing="20px" style="margin: -20px")
            tr
              td
                img.paletteItem(element="line" src="/images/line.png")
              td
                img.paletteItem(element="circle" src="/images/circle.png")
            tr
              td
                img.paletteItem(element="em" src="/images/em.png")
              td
                img.paletteItem(element="gluon" src="/images/gluon.png")
            tr
              td
                img.paletteItem(element="dashed" src="/images/dashed.png")
              td
                img.paletteItem(element="text" src="/images/text.png")
                  
        //#tooltipTriangle(ng-show="type == 'anchor' || type == 'line'")
          //.arrow-up
          //  &nbsp;
        #selectedElementProperties(ng-show="selectedElement != false")

          #anchorProperties.propertiesMenu(ng-show="type == 'anchor'")
            .property
              color-picker(model="color")
            .property
              slider(floor="1.0" ceiling="10" step="1" precision="1"  ng-model="radius" 
                     style="width: 82%")
              | &nbsp; {{radius}}
            .property
              span.button(ng-click="selectedElement.fixed = true" style="width: 148px"
                          ng-show="selectedElement.fixed == false")
                | fix anchor to canvas
              span.button.disabled(ng-click="selectedElement.fixed = false" style="width: 148px"
                                   ng-show="selectedElement.fixed == true")
                | unfix anchor from canvas
            .property
              span.button.delete(ng-click="deleteSelectedElement()")
                | delete this anchor

          #lineProperties.propertiesMenu(ng-show="type == 'line'" )

            .property
              input(type="text" ng-model="selectedElement.label" name="label"
                    placeholder="Enter a label")

            .property.colorPicker
              color-picker(model="color")

            .property
              slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="width" 
                        style="width: 82%")
              | &nbsp; {{selectedElement.width}}

            .property
              select(ng-model="selectedElement.style")
                option(value = 'line')
                  | line
                option(value = 'dashed')
                  | dashed
                option(value = 'gluon')
                  | gluon
                option(value = 'em')
                  | em
                option(value = 'gluino')
                  | gluino
                option(value = 'sfermion')
                  | sfermion

            .property(ng-show="selectedElement.style == 'line'")
              span.button(ng-click="selectedElement.drawArrow = true" 
                          ng-show="selectedElement.drawArrow == false" style="width: 149px")
                | show arrow
              span.button.disabled(ng-click="selectedElement.drawArrow = false" 
                          ng-show="selectedElement.drawArrow == true" style="margin-right: 10px")
                | hide arrow
              span.button(ng-click="selectedElement.flipArrow = !selectedElement.flipArrow"
                          ng-show="selectedElement.drawArrow == true" style="width: 58px")
                | flip
            
            .property(ng-show="selectedElement.style == 'gluon' || selectedElement.style == 'em' || selectedElement.style == 'gluino'  || selectedElement.style == 'sfermion'")
              span.button(ng-click="selectedElement.loopDirection = 0 - selectedElement.loopDirection"
                          style="width: 150px" ng-show="selectedElement.style == 'gluon' || selectedElement.style =='gluino'")
                | invert loop direction
              span.button(ng-click="selectedElement.loopDirection = 0 - selectedElement.loopDirection"
                          style="width: 150px" ng-show="selectedElement.style == 'em' || selectedElement.style =='sfermion'")
                | invert amplitude

            .property(ng-show="selectedElement.style == 'gluon'")
              span.button.disabled(ng-show="selectedElement.drawEndCaps == true" 
                          ng-click="selectedElement.drawEndCaps = false" style="width: 150px")
                | hide end caps
              span.button(ng-show="selectedElement.drawEndCaps == false" 
                          ng-click="selectedElement.drawEndCaps = true" style="width: 150px")
                | draw end caps


            .property
              span.button.delete(ng-click="deleteSelectedElement()")
                | delete this line

        #groupProperties(ng-hide="selectedGroup == false" ng-init="selectedGroup = false")

          .property
            input(colorpicker="rgb" type="text" ng-model="groupColor" name="color"
                  style="background: {{displayColor}}; color: {{displayColor}}; \
                         border: 1px solid {{groupColor}}; color: {{displayColor}};")

          .property
            slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="groupRadius" 
                   style="width: 75%")
          
          .property
            span.label
              | align
            span.button(ng-click="alignGroup('vertical')")
              | vertical
            span.button(ng-click="alignGroup('horizontal')")
              | horizontal

        #circleProperties.propertiesMenu(ng-show="type == 'circle'")
          .property
            slider(floor="0" ceiling="100" step="5" precision="0"  ng-model="radius" 
                   style="width: 80%")
            |  &nbsp; {{radius}}
          .property
            color-picker(model="color")

          .property
            span.button.delete(ng-click="deleteSelectedElement()")
              | delete this constraint
        
        #textProperties.propertiesMenu(ng-show="type == 'text'")
          .property
            input(type="text" ng-model="selectedElement.text" name="label" placeholder="text!")
          .property
            span.button.delete(ng-click="deleteSelectedElement()")
              | delete this text field
 

      #footer
        #footerTitle.panelTitle
          | Hotkeys/Tips
          span.hidePanel(ng-click="showFooter = !showFooter" ng-show="showFooter == true")
            | hide
          span.showPanel(ng-click="showFooter = !showFooter" ng-show="showFooter == false")
            | show
        #footerContent(ng-show="showFooter == true" ng-init="showFooter = true")
          .hotkey
            span.hotkeyTitle
              | Select element:
            span.hotkeyDescription
              | Left click
          .hotkey
            span.hotkeyTitle
              | Select multiple elements:
            span.hotkeyDescription
              | Drag on canvas
          .hotkey
            span.hotkeyTitle
              | New anchor:
            span.hotkeyDescription
              | alt + click
          .hotkey
            span.hotkeyTitle
              | New propagator:
            span.hotkeyDescription
              | alt + drag
          .hotkey
            span.hotkeyTitle
              | New branch:
            span.hotkeyDescription
              | alt + drag from an existing element
          .hotkey
            span.hotkeyTitle
              | Move element:
            span.hotkeyDescription
              | Drag
          .hotkey
            span.hotkeyTitle
              | Delete selected element:
            span.hotkeyDescription
              | bkspace or delete
          .hotkey
            span.hotkeyTitle
              | Constrain element to circle:
            span.hotkeyDescription
              | Drag from pallet and drop on anchor or alt + drag from existing circle
          .hotkey
            span.hotkeyTitle
              | Undo:
            span.hotkeyDescription
              | ctrl + z
          .hotkey
            span.hotkeyTitle
              | Redo:
            span.hotkeyDescription
              | shift + ctrl + z
          .hotkey
            span.hotkeyTitle
              | Pan:
            span.hotkeyDescription
              | space + drag
          .hotkey
            span.hotkeyTitle
              | Zoom:
            span.hotkeyDescription
              | scroll wheel
              
          
        // alt dragging moving the window instead 
        // gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier "<Super>"

    #mainContent
      svg#canvas
      
