extends base

append js

  script(type="text/javascript" src="/thirdparty/snap.svg/dist/snap.svg.js")
  script(type="text/javascript" 
         src="/thirdparty/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
  script(type="text/javascript" src="/angular-slider/slider.js")

  != js('Anchor')
  != js('FeynmanCanvas')
  != js('Line')

  != js('UndoEntry')
  != js('undo')
  != js('app')
  

append css
  link(href="/thirdparty/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet")
  link(href="/angular-slider/slider.css" rel="stylesheet")

block content
  body(ng-app="feynman")

    #sidebar(ng-controller="sidebar")
      
      #diagramProperties
        table.propertiesMenu(ng-show="showDiagramProperties == true")
          tbody
            tr.property
              td.label
                | Title
              td.value
                input(type="text" ng-model="$parent.title" name="label")
            tr.property
              td.label
                | Grid Size
              td.value
                slider(floor="0" ceiling="100" step="10" precision="0"  ng-model="gridSize" )
            tr
              td.tool
                span.button(ng-click="hideAnchors = true" ng-show="hideAnchors == false")
                  | hide all anchors
                span.button(ng-click="hideAnchors = false" ng-show="hideAnchors == true")
                  | show all anchors

              td.tool
                span.button(ng-click="hideGrid = true" ng-show="hideGrid == false")
                  | hide grid
                span.button(ng-click="hideGrid = false" ng-show="hideGrid == true")
                  | show grid

      // WARNING: this id can't change without reflecting it in the javascript
      #undoHistory(ng-controller="undoCtrl" current="{{current}}" )

        #historyTitle.panelTitle(ng-init="showHistory = false")
          | History
          span.hidePanel(ng-show="showHistory == true" ng-click="showHistory = false" )
            | hide
          span.hidePanel(ng-show="showHistory == false" ng-click="showHistory = true" )
            | show

        #historyContent
          .historyItem(ng-repeat="event in queue | reverse" ng-click="goTo(event.id)"
                       ng-class="{current : event.id == current, disabled: event.id > current}"
                       ng-show="showHistory == true")
            span.id
              | {{event.id}} : 
            span.title
              | {{event.title}}
              

     
      #tooltip

        #palette(ng-show="selectedElement == false || selectedElement == undefined "
                 ng-hide="selectedGroup != false" )

          | pick an element!
        //#tooltipTriangle(ng-show="type == 'anchor' || type == 'line'")
          //.arrow-up
          //  &nbsp;
        #selectedElementProperties(ng-show="selectedElement != false")

          #anchorProperties.propertiesMenu(ng-show="type == 'anchor'")
            .property
              input(colorpicker="rgb" type="text" ng-model="color" name="color"
                    style="background: {{color}}; color: {{color}}; border: 1px solid {{color}};")
            .property
              slider(floor="1.0" ceiling="10" step="1" precision="1"  ng-model="radius" 
                     style="width: 70%")
              |  {{radius}}
            .property
              span.button(ng-click="selectedElement.fixed = !selectedElement.fixed" 
                          ng-class="{enabled: selectedElement.fixed == false, disabled: selectedElement.fixed == true}" )
                | fixed
            .property
              span.button(ng-click="deleteSelectedElement('anchor')")
                | delete this anchor

          #lineProperties.propertiesMenu(ng-show="type == 'line'" )

            .property
              input(type="text" ng-model="selectedElement.label" name="label"
                    placeholder="Enter a label")

            .property.colorPicker
              div
                div(style="background: {{color}}")
                  | &nbsp
              input(colorpicker="hex" type="text" ng-model="color" name="color")

            .property
              slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="width" 
                        style="width: 75%")
              | &nbsp; {{selectedElement.width}}

            .property
              select(ng-model="selectedElement.style")
                option(value = 'line')
                  | line
                option(value = 'dashed')
                  | dashed
                option(value = 'gluon')
                  | gluon
                option(value = 'em')
                  | em
                option(value = 'gluino')
                  | gluino
                option(value = 'sfermion')
                  | sfermion

            .property(ng-show="selectedElement.style == 'line'")
              span.button(ng-click="selectedElement.drawArrow = true" 
                          ng-show="selectedElement.drawArrow == false")
                | show arrow
              span.button(ng-click="selectedElement.drawArrow = false" 
                          ng-show="selectedElement.drawArrow == true")
                | hide arrow
              &nbsp;&nbsp;&nbsp;&nbsp;
              span.button(ng-click="selectedElement.flipArrow = !selectedElement.flipArrow"
                          ng-show="selectedElement.drawArrow == true")
                | flip
            
            .property(ng-show="selectedElement.style == 'gluon' || selectedElement.style == 'em' || selectedElement.style == 'gluino'  || selectedElement.style == 'sfermion'")
              span.button(ng-click="selectedElement.loopDirection = 1" 
                          ng-class="{enabled: selectedElement.loopDirection == -1, disabled: selectedElement.loopDirection == 1}")
                | up 
              span.button(ng-click="selectedElement.loopDirection = -1" 
                          ng-class="{enabled: selectedElement.loopDirection == 1, disabled: selectedElement.loopDirection == -1}")
                | down

            .property(ng-show="selectedElement.style == 'gluon'")
              input(type="checkbox" ng-model="selectedElement.drawEndCaps")

            .property
              span.button(ng-click="deleteSelectedElement('line')")
                | delete this line

        #groupProperties(ng-hide="selectedGroup == false" ng-init="selectedGroup = false")

          .property
            input(colorpicker="rgb" type="text" ng-model="groupColor" name="color"
                  style="background: {{displayColor}}; color: {{displayColor}}; \
                         border: 1px solid {{groupColor}}; color: {{displayColor}};")

          .property
            slider(floor="1.0" ceiling="10" step=".2" precision="1"  ng-model="groupRadius" 
                   style="width: 75%")
          
          .property
            span.label
              | align
            span.button(ng-click="alignGroup('vertical')")
              | vertical
            span.button(ng-click="alignGroup('horizontal')")
              | horizontal
 
      #footer
        #footerTitle.panelTitle
          | Hotkeys/Tips
          span.hidePanel(ng-click="showFooter = !showFooter" ng-show="showFooter == true")
            | hide
          span.hidePanel(ng-click="showFooter = !showFooter" ng-show="showFooter == false")
            | show
        #footerContent(ng-show="showFooter == true" ng-init="showFooter = true")
          .hotkey
            span.hotkeyTitle
              | Select element:
            span.hotkeyDescription
              | Left click
          .hotkey
            span.hotkeyTitle
              | Move element:
            span.hotkeyDescription
              | Drag
          .hotkey
            span.hotkeyTitle
              | Select multiple elements:
            span.hotkeyDescription
              | Drag on canvas
          .hotkey
            span.hotkeyTitle
              | New element:
            span.hotkeyDescription
              | alt + drag
          .hotkey
            span.hotkeyTitle
              | New branch:
            span.hotkeyDescription
              | alt + drag from an existing element
          .hotkey
            span.hotkeyTitle
              | Undo:
            span.hotkeyDescription
              | ctrl + x (NYI)
          .hotkey
            span.hotkeyTitle
              | Pan:
            span.hotkeyDescription
              | space + drag
          .hotkey
            span.hotkeyTitle
              | Zoom:
            span.hotkeyDescription
              | scroll wheel
              
          
        // alt dragging moving the window instead 
        // gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier "<Super>"

    #mainContent
      svg#canvas
      
